@import "src/global";

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 8px;

  & > * {
    &:not(:first-child) {
      margin-top: 8px;
    }

    &.update {
      @include confirm-button;
      margin-top: 24px;
    }
  }
}
