@mixin xs {
  @media all and (min-width: 480px) {
    @content;
  }
}

@mixin sm {
  @media all and (min-width: 736px) {
    @content;
  }
}

@mixin md {
  @media all and (min-width: 980px) {
    @content;
  }
}

@mixin lg {
  @media all and (min-width: 1280px) {
    @content;
  }
}

@mixin xl {
  @media all and (min-width: 1690px) {
    @content;
  }
}

@mixin confirm-button {
  align-items: center;
  background: $app-primary-color;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-left: auto;
  padding: 0 8px;
  width: 50%;

  &:hover {
    background: $app-secondary-color;
  }

  @include md {
    width: calc(100% / 3);
  }
}

$app-primary-color: grey;
$app-secondary-color: lightgrey;
