@import "src/global";

.App {
  display: flex;
  flex-direction: column;

  & > .app-content {
    display: flex;
    height: 100%;
    width: 100%;

    & > * {
      flex: 1 0 0;

      &.side-drawer {
        display: none;

        @include sm {
          display: flex;
          flex: 0 0 200px;

          & > * {
            width: 100%;
          }
        }

        @include md {
          flex: 0 0 300px;
        }
      }
    }
  }
}
